// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: grey;
$light-gray: #F4F4F4;
$black: black;
$custom1: #22223b;
$custom2:#2f3e46;
$white: white;
$custom_font_dark_green: #0b2027;
$paleta_amarelo_claro: #fcf8ec;
$paleta_azul_claro: #d0e8f2;
$paleta_azul_normal: #0076ff;
$paleta_azul_escuro: #0951a0;
$paleta_amarelo: #E9C46A;
$paleta_laranja: #F4A261;
$paleta_azul_claro2: #eaeff0;
$laranja_detran: #fc9003;
