// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: grey;
$light-gray: #F4F4F4;
$black: black;
$custom1: #22223b;
$custom2:#2f3e46;
$white: white;
$custom_font_dark_green: #0b2027;