// Specific CSS for your home-page
html, body {
  // padding-bottom: 50px;
  height: 100%;
  margin: 0;
}

html {
  position: relative;
  min-height: 100%;
}

a.link-navbar {
  color:white !important;
}

.card{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.explanatory-text{
  font-style: italic;
  opacity:0.8;

  strong{
    font-weight:900;

  }

}

.banner-height{
  height: 24px;
  border: 1px solid $paleta_azul_claro2;
}


.landing-page-container{
  /* Equal to height of footer */
  /* But also accounting for potential margin-bottom of last child */
  margin-bottom: -170px;
}

.color-container{
  margin-top:50px;
}

.search-content{
  margin-top: 70px;
}
