// Specific CSS for your home-page
body {
  padding-bottom: 50px;
}

a.link-navbar {
  color:white !important;
}

.card{
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}



.explanatory-text{
  font-style: italic;
  opacity:0.8;

  strong{
    font-weight:900;

  }

}

#banner-typed-text{
  text-align: center;
}
