.bg{
  background-color: #415c6b;
}

.judicial-parties{
  margin-bottom: 0px;
}

.judicials-steps-title {
  color: $custom_font_dark_green;
}

.judicial-original{
  color: #636465;

  p{
    margin-bottom: 5px;
  }
}

.nav-tabs .nav-link {
  background-color: $paleta_azul_claro;
}

.nav-tabs .nav-link.active {
  // border-color: black black #eaeff0;
  background-color: $paleta_azul_escuro;
  color: $paleta_amarelo_claro;
}


// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: grey;
// $light-gray: #F4F4F4;
// $black: black;
// $custom1: #22223b;
// $custom2:#2f3e46;
// $white: white;
// $custom_font_dark_green: #0b2027;
// $paleta_amarelo_claro: #fcf8ec;
// $paleta_azul_claro: #d0e8f2;
// $paleta_azul_normal: #0076ff;
// $paleta_azul_escuro: #0951a0;
// $paleta_amarelo: #E9C46A;
// $paleta_laranja: #F4A261;
// $paleta_azul_claro2: #eaeff0;
// $laranja_detran: #fc9003

.fluxogram  {
  color: black;

  p{
    text-align: center
  }

}

.petitoria {
  width: 240px;
  height: 120px;
  // border-radius: 100px / 50px;
  margin: auto;
}

.conciliatoria {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  margin: auto;
}

.provas {
  width: 200px;
  height: 100px;
  border-radius: 5px;
  margin: auto;
}

.decisoria {
  width: 200px;
  height: 120px;
  background: $light-gray;
  // border-radius: 50%;
  margin: auto;
  box-shadow: 0px 0px 4px rgba(1,1,1,0.2);
  text-shadow: 0px 0px 4px rgba(1,1,1,0.2);
  margin-bottom: 0;
  p{
    padding-top: 70px;
  }
}

#pointer {
  width: 22px;
  height: 20px;
  position: relative;
  background: black;
  margin: auto;
  margin-top: -10px;

  &:before{
    content: "";
    position: absolute;
    right: -9.5px;
    bottom: -11px;
    width: 41px;
    height: 10px;
    border-top: 20px solid black;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}

#atual_pointer {
  width: 22px;
  height: 20px;
  position: relative;
  background: $paleta_laranja;
  margin: auto;
  margin-top: -10px;

  &:before{
    content: "";
    position: absolute;
    right: -9.5px;
    bottom: -11px;
    width: 41px;
    height: 10px;

    border-top: 20px solid  $paleta_laranja;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
  }
}

.phase-grey {
  background-color: #80808047;
  color:white;
  text-shadow: 0px 0px 2px rgba(1,1,1,0.5);
  box-shadow: 0px 0px 4px rgba(1,1,1,0.2);
}

.phase-yellow{
  background-color: #eae4009e;
  color:white;
  text-shadow: 0px 0px 2px rgba(1,1,1,0.5);
  box-shadow: 0px 0px 4px rgba(1,1,1,0.2);
}

.steps {
  position: relative;
}

.avatar-stage {
  position: absolute;
  right: 0px;
  top: 0px;
}

a{
  color: $paleta_azul_escuro;
}

a:hover {
  color: $paleta_azul_normal;
}

.number_process{
  font-family: Roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: center !important;
}