<div class="container jud-index">
  <% if @judicials.length.positive? %>
    <% @judicials.each do |judicial| %>
      <%=link_to judicial_path(judicial), class:"card card-judicial mt-3 ml-2 col-sm-12 col-md-5 mx-auto" do %>
        <div class="my-3 ml-3">
          <p class="mb-0">Processo nº:</p>
          <h5 class="mt-0"><%= judicial.number %> </strong></h5>
          <p class="mb-0">Partes:</p>
          <% judicial.parties.each do |party| %>
          <p class="judicial-parties"><strong><%= party.name %></strong></p>
          <% end %>
        </div>
      <% end %>
    <% end %>
  <% else %>
    <div class="text-center mt-5">
      <h3>Não foi encontrado nenhum processo!</h3>
      <p>Verifique se escreveu o nome ou o número do processo corretamente</p>

      <%= link_to root_path do %>
        <p class="btn btn-primary">Voltar</p>
      <% end %>
    </div>
  <% end %>
</div>
