<div class="container">

  <!-- Abas -->
  <div class="mt-4 tabs-judicial col-sm-12 col-md-6 offset-md-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab"  data-toggle="tab" href="#judicial" role="tab" aria-controls="home" aria-selected="true">Processo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="andamento-tab" data-toggle="tab" href="#andamento" role="tab" aria-controls="andamento" aria-selected="false">Andamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="fluxo-tab" data-toggle="tab" href="#fluxograma" role="tab" aria-controls="fluxograma" aria-selected="false">Fases</a>
      </li>
    </ul>
  </div>

  <div class="tab-content" id="myTabContent">
    <%= render partial: "judicial" %>
    <%= render partial: "steps" %>
    <%= render partial: "fluxogram" %>
  </div>
</div>

  <!-- MODALS -->
<div class="modal fade" id="decisionModal" tabindex="-1" role="dialog" aria-labelledby="decisionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="decisionModalLabel">Decisão</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-laranja" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="fluxModal1" tabindex="-1" role="dialog" aria-labelledby="fluxModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fluxModalLabel1">Apresentação do pedido</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-left"> O Juizado Especial Cível só cuida de causas de pouco valor. Por isso o processo é mais rápido e informal.</p>
        <p class="text-left"> O processo começa quando alguém faz um pedido válido ao juiz. Pode ser por escrito ou mesmo uma conversa no Juizado! </p>
        <p class="text-left"> A justiça marcará uma reunião para tentar um acordo e avisará as partes por meio de uma citação. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-laranja" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="fluxModal2" tabindex="-1" role="dialog" aria-labelledby="fluxModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fluxModalLabel2">Audiência de conciliação</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-left"> As partes se encontrarão com um conciliador para ver se chegam a um acordo. </p>
        <p class="text-left"> Atenção: NÃO FALTE! </p>
         <p class="text-left"> Se o autor faltar, o processo acaba. Se o réu faltar, tudo o que o autor disse poderá ser considerado verdadeiro pelo juiz.  </p>
        <p class="text-left"> Se houver acordo e se o juiz concordar, o processo acaba e o acordo terá que ser cumprido por ambos. </p>
        <p class="text-left"> Se não houver acordo, o processo segue e será marcada reunião com o juiz para a decisão do caso. </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-laranja" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="fluxModal3" tabindex="-1" role="dialog" aria-labelledby="fluxModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fluxModalLabel3">Apresentação de provas</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p class="text-left"> Se você está sendo processado, você poderá responder por escrito antes da audiência, ou diretamente para o juiz durante a audiência.</p>
        <p class="text-left"> Cada parte pode levar até 3 testemunhas para comprovar seus argumentos. Se quiserem, podem pedir ao juiz para chamá-las por meio de uma intimação. </p>
        <p class="text-left"> Você pode preparar e levar no dia também outras provas que julgar pertinentes.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-laranja" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="fluxModal4" tabindex="-1" role="dialog" aria-labelledby="fluxModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="fluxModalLabel4">A sentença</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
         <p class="text-left"> As partes se encontrarão com o juiz, que ouvirá os dois lados e dará sua decisão - uma sentença.</p>
    <p class="text-left"> A sentença conta a história do caso, explica os fundamentos usados para decidir e termina com a decisão em si. </p>
    <p class="text-left"> Se você não concordar com a decisão, pode recorrer. Mas existem prazos pra isso!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-laranja" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
