<div class="container">
  <div class="mt-4 tabs-judicial col-sm-12 col-md-6 offset-md-3">
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="home-tab"  data-toggle="tab" href="#judicial" role="tab" aria-controls="home" aria-selected="true">Processo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="andamento-tab" data-toggle="tab" href="#andamento" role="tab" aria-controls="andamento" aria-selected="false">Andamento</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="fluxo-tab" data-toggle="tab" href="#fluxograma" role="tab" aria-controls="fluxograma" aria-selected="false">Fluxo</a>
      </li>
    </ul>
  </div>

  <div class="tab-content" id="myTabContent">
    <%= render partial: "judicial" %>
    <%= render partial: "steps" %>
    <%= render partial: "fluxogram" %>
  </div>
</div>

  <!-- MODALS -->
<div class="modal fade" id="decisionModal" tabindex="-1" role="dialog" aria-labelledby="decisionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="decisionModalLabel">Decisão</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

      </div>
      <div class="modal-footer">
        <button type="button" class=""btn btn-primary"" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>
