<div class="container"></div>
  <div class="cards">
    <div class="card-category">
      Processo Xxxx: 
      
      <p class="notification"><i class="attention fas fa-exclamation-triangle"></i></p >
    </div>
  </div>
</div>
