<table class="table">
  <thead>
    <tr>
      <th scope="col">Data</th>
      <!-- <th scope="col">Código</th> -->
      <th scope="col">Tradução</th>
    </tr>
  </thead>  
  <tbody>
    <% judicial.judicial_steps.each do |judicial_step| %>      
      <tr>
      <td><%= judicial_step.date.strftime("%d/%m/%Y") %></td>
      <!-- <td><%= judicial_step.step.cnj_number %></td> -->
      <td><%= judicial_step.step.translation %></td>
      </tr>    
    <% end %>
  </tbody>
</table>
