<div class="container">
  <div class="color-container d-flex justify-content-center" style="min-height: 30vh;">
      <%= image_tag "jscomtexto1.png", class: "m-auto" %>
  </div>


  <div class="my-3">
    <%= form_tag judicials_path, class: "m-2 form-inline d-flex justify-content-center",  method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        size: "50",
        maxlength: "254",
        class: "form-control",
        placeholder: "Procure um nome ou o número do processo"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>

</div>




