<div class="container">
  <div class="color-container d-flex justify-content-center" style="min-height: 30vh;">
    <%= image_tag "jscomtexto1.png", class: "m-auto" %>
  </div>
  <div class="main d-flex justify-content-between">
    <a href="#" class="btn btn-danger">danger</a>
    <a href="#" class="btn btn-info">info</a>
    <a href="#" class="btn btn-primary">primary</a>
    <a href="#" class="btn btn-success">success</a>
  </div>
  <div class="text-center my-5">
    <h1>teste h1</h1>
    <h3>teste h3</h3>
    <p>teste p</p>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
  <% @property = { contact_name: "teste"} %>

<div class="cards">
  <div class="card-category">
    Processo XPTO: Na realidade já começou a vida. Deve se procurar um cara muito importante para resolver ela 
    <p class="notification"><i class="attention fas fa-exclamation-triangle"></i></p >
  </div>

  <div class="card-category">
    Processo WWW: Processo que está paralizado porque precisa de muita vida importante mas não desista nunca. 
    <p class="notification"><i class="normal fas fa-check"></i></p >
  </div>

  <div class="card-category">
    Mussum Ipsum, cacilds vidis litro abertis. Cevadis im ampola pa arma uma pindureta. Si u mundo tá muito paradis? Toma um mé que o mundo vai girarzis! 
    <p class="notification"><i class="danger fas fa-dumpster-fire"></i></p >
  </div>
</div>
  

</div>




