.btn{
  // opacity: 0.8;
  border: 1px ;
  padding-left: $spacer !important;
  padding-right: $spacer !important;
   }

.btn-ghost {
  color: black;
  background-color: white;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}


input[type=submit] {
  margin: 5px;
  padding: 5px;
}

.btn-big{
  color: white;
  background-color: $laranja_detran;
  font-size: 18px;
  padding: 8px 24px !important;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;

    &:hover{
      opacity: .6;
      color: white;
    }
}

.btn-laranja{
  color: white;
  background-color: $laranja_detran;
  font-size: 18px;
  padding: 8px 24px !important;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 1;
  transition: opacity 0.3s ease;

    &:hover{
      opacity: .6;
      color: white;
    }
}