.inicio_coding {
  background-color: $inicio_coding;
}

.acordo_coding {
  background-color: rgba(208, 232, 242, 0.5);
}

.provas_coding {
  background-color: rgba(0, 118, 255, 0.4);

}

.decisao_coding {
  background-color:  rgba(252, 144, 3, 0.3)
}