.verde_coding {
  background-color: $verde_coding;
  opacity: 0.7;
}

.bege_coding {
  background-color: $bege_coding;
  opacity: 0.7;
}

.cinza_coding {
  background-color: $cinza_coding;
  opacity: 0.7;
}

.azul_coding {
  background-color: $azul_coding;
  opacity: 0.7;
}

// $verde_coding: #83c5be;
// $bege_coding: #f7ede2;
// $cinza_coding: #e9ecef;
// $azul_coding: #a9d6e5;