
.fluxogram {
  // box-shadow: 0 0px 4px rgba(0,0,0,0.5);
  padding: 12px;
  border-radius: 8px;
  // background-color: white;
}

.arrows { white-space: nowrap; margin-left:0 }
.arrows li {
    display: inline-block;
    line-height: 26px;
    margin: 0 9px 0 -10px;
    padding: 0 10px;
    position: relative;
}
.arrows li::before,
.arrows li::after {
    border-right: 5px solid $custom2;
    content: '';
    display: block;
    height: 50%;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    transform: skewX(45deg);
}
.arrows li::after {
    bottom: 0;
    top: auto;
    transform: skewX(-45deg);
}

.arrows li:last-of-type::before,
.arrows li:last-of-type::after {
    display: none;
}

.arrows li a {
   font: bold 24px Sans-Serif;
   letter-spacing: -1px;
   text-decoration: none;
}

// .arrows li:nth-of-type(1) a { color: #0951a0; }
// .arrows li:nth-of-type(2) a { color: #0951a0; }
// .arrows li:nth-of-type(3) a { color: $paleta_laranja; }
// .arrows li:nth-of-type(4) a { color: #0951a0; }

.destaque {
  font-size: 28px;
}

.fora-destaque {
  font-size: 16px
}
